[project]
	description = JenkinsPipeline
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VeeraSamantula
[access "refs/for/refs/*"]
	read = group user/VeeraSamantula
	push = group user/VeeraSamantula
	label-Code-Review = -2..+2 group user/VeeraSamantula
	label-Verified = -1..+1 group user/VeeraSamantula
	rebase = group user/VeeraSamantula
	removeReviewer = group user/VeeraSamantula
	submit = group user/VeeraSamantula
[access "refs/heads/*"]
	read = group user/VeeraSamantula
	create = group user/VeeraSamantula
	push = +force group user/VeeraSamantula
	pushMerge = group user/VeeraSamantula
[access "refs/tags/*"]
	push = group user/VeeraSamantula
	push = +force group user/VeeraSamantula
